pandas
numpy
geopandas
scikit-learn
xgboost
requests
folium
osmnx
openrouteservice
plotly
streamlit
shapely
pytest
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
networkx
streamlit-searchbox
